body {
    background: hsla(197, 100%, 63%, 1);
    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    font-family: 'Roboto Slab', serif;
}

h1 {
    text-align: center;
}

main {
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
}

#calculator-body {
    background-color: #353535;
    border-radius: 15px;
    padding: 10px;
    height: auto;
    width: 400px;
}

#calculator-screen {
    background: linear-gradient(90deg, rgb(104, 252, 104) 0%, rgb(255, 255, 77) 100%);
    color: #353535;
    border-radius: 5px;
    /* padding: 10px; */
    /* font-family: "Audiowide", sans-serif; */
    font-family: 'Share Tech Mono', monospace;
}

#history-input {
    align-self: flex-start;
    font-size: larger;
    font-weight: 400;
    margin: 0;
    padding: 4px;
}

#result {
    align-self: flex-end;
    font-size: xx-large;
    font-stretch: wider;
    font-weight: 800;
    margin: 0;
    padding: 7px;
}

#keys-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 3px;
    padding: 3px;
    height: 300px;
    margin-top: 13px;
}

.calc-btn {
    border-radius: 5%;
    color: #FFF;
    font-weight: 800;
    font-size: x-large;
    opacity: 0.75;
    transition: 0.2s;
    padding: 0;
    font-family: 'Share Tech Mono', monospace;
}

.calc-btn:hover {
    opacity: 1;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.calc-btn:active {
    box-shadow: 0 5px #666;
    transform: translateY(1.5px);
}

.num-btn {
    background: #3c6e71;
}

.sym-btn {
    background: #284b63;
}

#plus-btn {
    grid-column: 4/5;
    grid-row: 2/4;
}

#equals-btn {
    grid-column: 4/5;
    grid-row: 4/6;
}

#num0-btn {
    grid-column: 1/3;
    grid-row: 5/6;
}